<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StockMapper">
	
	<insert id="s_insert" parameterType="svo">
		insert into stock (symbol, fullName, description, sector, m_capitalization,
		per, eps, pxt_insiders, pxt_institutions, year_high, year_low, avg_target)
		values (#{symbol}, #{fullName}, #{description}, #{sector},
		#{m_capitalization}, #{per}, #{eps}, #{pxt_insiders},
		#{pxt_institutions}, #{year_high}, #{year_low}, #{avg_target})
	</insert>
	<insert id="e_insert" parameterType="evo">
		insert into earning(earningNum, symbol, reportedDate, reportedEPS, estimatedEPS)
		values (earningNum.nextval, #{symbol}, #{reportedDate}, #{reportedEPS}, #{estimatedEPS})
	</insert>
	<select id="e_list" parameterType="String" resultType="evo">
		select * from earning where symbol = #{symbol} and reportedDate > '2017-12-31'
	</select>
	<insert id="a_rawdata">
		insert into account(h_num, email, symbol, avg_h_price, h_qty)
		values(h_num.nextval, 'dybe15@naver.com', #{symbol}, 10, 1)
	</insert>
	
	<select id="s_list" parameterType="pgvo" resultType="svo">
	select * from
    (
    	select a.*, rownum as rnum
        from
            (
            	select * from stock
                where symbol is not null <include refid="search"/>
                order by  m_capitalization desc) a
        where rownum  <![CDATA[ <= ]]> (#{pageIndex} * #{countPerPage})  )
	where rnum  <![CDATA[>]]> ((#{pageIndex} - 1 ) * #{countPerPage})

	</select>
	
	<select id="s_detail" parameterType="String" resultType="svo">
		select * from stock where symbol = #{symbol} 
	</select>

	<update id="s_price_update" parameterType="svo">
		update stock set cur_price = #{cur_price} where symbol = #{symbol}
	</update>
	<update id="a_price_update" parameterType="avo">
		update account set cur_price = #{cur_price} where symbol = #{symbol}
	</update>
	<select id="s_list_account" resultType="HashMap">
		select symbol, cur_price from stock
	</select>
	
	<insert id="add_watch" parameterType="wvo">
		insert into watch(watchNum, email, symbol) values(watchNum.nextval, #{email}, #{symbol})	
	</insert>
	<delete id="remove_watch">
		delete from watch where email = #{email} and symbol = #{symbol}
	</delete>
	<select id="s_list_admin" resultType="svo">
		select symbol from stock
	</select>
	
	<select id="tc" parameterType="pgvo" resultType="int">
		select count(symbol) as cnt from stock where symbol is not null
		<include refid="search"/>
	</select>
	
	<select id="hasSymbol" parameterType="String" resultType="int">
		select count(symbol) from stock where symbol = #{symbol}
	</select>
	
	<sql id="search">
		<if test="range != null">
			<trim prefix="and" suffix="">
				<choose>
					<when test="range == 'snc'.toString()">
						symbol like CONCAT('%' || #{keyword},'%') or
						fullName like CONCAT('%' || #{keyword},'%') or
						sector like CONCAT('%' || #{keyword},'%')
					</when>
					<when test="range == 's'.toString()">
						symbol like CONCAT('%' || #{keyword},'%')
					</when>
					<when test="range == 'n'.toString()">
						fullName like CONCAT('%' || #{keyword},'%')
					</when>
					<when test="range == 'c'.toString()">
						sector like CONCAT('%' || #{keyword},'%')
					</when>
				</choose>
			</trim>
		</if>
	</sql>
</mapper>